
	img {
		border: 3px dotted black;
		padding: 55px;
		margin: 20px;
		width: 100px;
		float: right;
	}
	p {
		padding: 45px 0px;
		font-family: sans-serif;
	}
	h1 {
		margin-bottom: 20px;
		font-family: sans-serif;
	}

	h2 {
		font-family: sans-serif;
	}

	nav {
		font-family: sans-serif;
	}

	footer { 
		clear:both;
		font-family: sans-serif;

	 }
